<footer id="footer">
  <div class="container my-4">
    <div class="row py-5">
      <div class="col-xl-3 text-center d-none d-xl-block">
        <img alt="SEAL" src="favicon.ico">
      </div>
      <div class="col-sm-7 col-lg-4 col-xl-3 mb-5 mb-lg-0">
        <h2 class="text-6 text-transform-none font-weight-light text-color-light mb-4">CONTACT DETAIL</h2>
        <p class="text-5 mb-1">525 North Pole Street</p>
        <p class="text-5 mb-4 pb-1">525 North Pole Street</p>
        <p class="text-5 mb-1 pt-2">Call <a class="text-color-primary" href="#"></a>1800-772 4158</p>
        <p class="text-5 mb-0">Email: <a  href="#">info@localhost.com</a></p>
        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="" style="margin-top: 20px;">Request Information</button>
      </div>
      <div class="col-sm-5 col-lg-8 col-xl-6 mb-5 mb-lg-0">
        <h2 class="text-6 text-transform-none font-weight-light text-color-light mb-4 d-none d-xl-block">PROGRAM</h2>
        <div class="row">
          <div class="col-7 d-none d-lg-block">
            <p class="mb-1">
              <a class="text-4 link-hover-style-1" href="#">
                <i class="fas fa-angle-right text-color-primary" role="presentation"></i>
                Biomedical Technology
              </a>
            </p>
            <p class="mb-1">
              <a class="text-4 link-hover-style-1" href="#">
                <i class="fas fa-angle-right text-color-primary" role="presentation"></i>
                Biomedical Technology
              </a>
            </p>
            <p class="mb-1">
              <a class="text-4 link-hover-style-1" href="#">
                <i class="fas fa-angle-right text-color-primary" role="presentation"></i>
                Biomedical Technology
              </a>
            </p>
            <p class="mb-1">
              <a class="text-4 link-hover-style-1" href="#">
                <i class="fas fa-angle-right text-color-primary" role="presentation"></i>
                Biomedical Technology
              </a>
            </p>
          </div>
          <div class="col-12 col-lg-5">
            <p class="mb-1">
              <a class="text-4 link-hover-style-1" href="#">
                <i class="fas fa-angle-right text-color-primary" role="presentation"></i>
                Biomedical Technology
              </a>
            </p>
            <p class="mb-1">
              <a class="text-4 link-hover-style-1" href="#">
                <i class="fas fa-angle-right text-color-primary" role="presentation"></i>
                Biomedical Technology
              </a>
            </p>
            <p class="mb-1">
              <a class="text-4 link-hover-style-1" href="#">
                <i class="fas fa-angle-right text-color-primary" role="presentation"></i>
                Biomedical Technology
              </a>
            </p>
            <p class="mb-1">
              <a class="text-4 link-hover-style-1" href="#">
                <i class="fas fa-angle-right text-color-primary" role="presentation"></i>
                Biomedical Technology
              </a>
            </p>
            <p class="mb-1">
              <a class="text-4 link-hover-style-1" href="#">
                <i class="fas fa-angle-right text-color-primary" role="presentation"></i>
                Biomedical Technology
              </a>
            </p>
            <p class="mb-1">
              <a class="text-4 link-hover-style-1" href="#">
                <i class="fas fa-angle-right text-color-primary" role="presentation"></i>
                Biomedical Technology
              </a>
            </p>
            <p class="mb-1">
              <a class="text-4 link-hover-style-1" href="#">
                <i class="fas fa-angle-right text-color-primary" role="presentation"></i>
                Biomedical Technology
              </a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container py-2">
      <div class="row py-4">
        <div class="col text-center">
          <ul class="footer-social-icons social-icons social-icons-clean social-icons-icon-light social-icons-lg mb-3">
            <li class="social-icons-facebook">
              <a href="" target="_blank" title="Facebook">
                <i class="fab fa-facebook-f" role="presentation"></i>
                <span class="d-none">SCIT Facebook Link</span>
              </a>
            </li>
            <li class="social-icons-instagram">
              <a href="" target="_blank" title="Instagram">
                <i class="fab fa-instagram-f" role="presentation"></i>
                <span class="d-none">SCIT Instagram Link</span>
              </a>
            </li>
            <li class="social-icons-linkedin">
              <a href="" target="_blank" title="Linkedin">
                <i class="fab fa-linkedin-f" role="presentation"></i>
                <span class="d-none">SCIT Linkeden Link</span>
              </a>
            </li>
          </ul>
          <p>
            <strong>South California</strong> - &copy; Copyright 2025. All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>


<!-- https://www.scitech.edu/programs/electrical-engineering-bachelors-degree -->



























<!--
<div class="container mx-auto px-4">
  <footer class="bg-white rounded-lg shadow-sm dark:bg-gray-900 m-4">
    <div class="w-full max-w-screen-2xl mx-auto p-4 md:py-8">
      <div class="sm:flex sm:items-center sm:justify-between">
        <a href="https://flowbite.com/" class="flex items-center mb-4 sm:mb-0 space-x-3 rtl:space-x-reverse">
          <img src="https://flowbite.com/docs/images/logo.svg" class="h-8" alt="Flowbite Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Flowbite</span>
        </a>
        <ul class="flex flex-wrap items-center mb-6 text-sm font-medium text-gray-500 sm:mb-0 dark:text-gray-400">
          <li>
            <a href="#" class="hover:underline me-4 md:me-6">About</a>
          </li>
          <li>
            <a href="#" class="hover:underline me-4 md:me-6">Privacy Policy</a>
          </li>
          <li>
            <a href="#" class="hover:underline me-4 md:me-6">Licensing</a>
          </li>
          <li>
            <a href="#" class="hover:underline">Contact</a>
          </li>
        </ul>
      </div>
      <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
      <span class="block text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="https://flowbite.com/" class="hover:underline">Flowbite™</a>. All Rights Reserved.</span>
    </div>
  </footer>
</div>
-->
